################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenParser/bin/Debug
/OpenParser/obj/Debug
/OpenDps/obj/Debug
/OpenDps/bin/Debug
/.vs/EQ/v14
